body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(97,45,0);
    background: linear-gradient(90deg, rgba(97,45,0,1) 0%, rgba(179,94,0,1) 35%, rgba(255,126,0,1) 100%);
    margin: 20;
    padding: 0;
    font-size: 15px;
    gra
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgba(161, 89, 6, 0.867);
    margin:  0 auto;
    font-size: 18px;

}

#cabecera{
    background-color: rgba(161, 89, 6, 0.867) ;
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow:0 2px 20px 0 rgba(0,0,0,.5);

}

#cabecera #logo{
width: 25px;
vertical-align: middle;

}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#post{
    padding: 1em;
    background-color: rgb(253, 247, 238);
}